:root {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
:root a {
  text-decoration: none;
}
:root a:visited {
  text-decoration: none;
}
:root a:hover {
  text-decoration: none;
}
[data-dpr="2"] .weui-dialog {
  max-width: none;
  border-radius: 6px;
}
[data-dpr="2"] .weui-dialog .weui-dialog__title {
  font-size: 36px;
}
[data-dpr="2"] .weui-dialog .weui-dialog__bd {
  font-size: 30px;
  min-height: 80px;
}
[data-dpr="2"] .weui-dialog .weui-dialog__ft {
  font-size: 36px;
  line-height: 96px;
}
[data-dpr="3"] .weui-dialog {
  max-width: none;
  border-radius: 9px;
}
[data-dpr="3"] .weui-dialog .weui-dialog__title {
  font-size: 54px;
}
[data-dpr="3"] .weui-dialog .weui-dialog__bd {
  font-size: 45px;
  min-height: 120px;
}
[data-dpr="3"] .weui-dialog .weui-dialog__ft {
  font-size: 54px;
  line-height: 144px;
}
[data-dpr="2"] .weui-icon_toast.weui-loading {
  margin: 60px 0 0;
  width: 76px;
  height: 76px;
}
[data-dpr="3"] .weui-icon_toast.weui-loading {
  margin: 90px 0 0;
  width: 114px;
  height: 114px;
}
.color-orange {
  color: #ff6600;
}
.color-green {
  color: #09bb07;
}
.color-btn-jianshao {
  color: #ff5b45;
}
.hide {
  display: none;
}
.train-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.train-confirm .train-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: white;
  margin: 1.98666667rem 1.96rem;
  padding: 0.42666667rem 0.21333333rem 0.42666667rem 0.49333333rem;
  border-radius: 0.2rem;
}
@media all and (orientation: landscape) {
  .train-confirm .train-dialog {
    margin: 0.28rem 1.96rem;
  }
}
.train-confirm .train-dialog .train-dialog__title {
  color: #ff6600;
  font-size: 14.5px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__title {
  font-size: 29px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__title {
  font-size: 43.5px !important;
}
.train-confirm .train-dialog .train-dialog__content {
  margin-top: 0.84rem;
  font-size: 15px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__content {
  font-size: 30px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__content {
  font-size: 45px !important;
}
.train-confirm .train-dialog .train-dialog__control {
  margin-top: 0.84rem;
}
.train-confirm .train-dialog .train-dialog__control .train-dialog__cancel {
  border-color: #ff6600;
  float: right;
  font-size: 13px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__control .train-dialog__cancel {
  font-size: 26px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__control .train-dialog__cancel {
  font-size: 39px !important;
}
.train-confirm .train-dialog .train-dialog__control .train-dialog__ok {
  margin-left: 0.25333333rem;
  background: #ff6600;
  border-color: #ff6600;
  color: white;
  font-size: 13px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__control .train-dialog__ok {
  font-size: 26px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__control .train-dialog__ok {
  font-size: 39px !important;
}
