:root {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
:root a {
  text-decoration: none;
}
:root a:visited {
  text-decoration: none;
}
:root a:hover {
  text-decoration: none;
}
[data-dpr="2"] .weui-dialog {
  max-width: none;
  border-radius: 6px;
}
[data-dpr="2"] .weui-dialog .weui-dialog__title {
  font-size: 36px;
}
[data-dpr="2"] .weui-dialog .weui-dialog__bd {
  font-size: 30px;
  min-height: 80px;
}
[data-dpr="2"] .weui-dialog .weui-dialog__ft {
  font-size: 36px;
  line-height: 96px;
}
[data-dpr="3"] .weui-dialog {
  max-width: none;
  border-radius: 9px;
}
[data-dpr="3"] .weui-dialog .weui-dialog__title {
  font-size: 54px;
}
[data-dpr="3"] .weui-dialog .weui-dialog__bd {
  font-size: 45px;
  min-height: 120px;
}
[data-dpr="3"] .weui-dialog .weui-dialog__ft {
  font-size: 54px;
  line-height: 144px;
}
[data-dpr="2"] .weui-icon_toast.weui-loading {
  margin: 60px 0 0;
  width: 76px;
  height: 76px;
}
[data-dpr="3"] .weui-icon_toast.weui-loading {
  margin: 90px 0 0;
  width: 114px;
  height: 114px;
}
.color-orange {
  color: #ff6600;
}
.color-green {
  color: #09bb07;
}
.color-btn-jianshao {
  color: #ff5b45;
}
.hide {
  display: none;
}
.train-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.train-confirm .train-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: white;
  margin: 1.98666667rem 1.96rem;
  padding: 0.42666667rem 0.21333333rem 0.42666667rem 0.49333333rem;
  border-radius: 0.2rem;
}
@media all and (orientation: landscape) {
  .train-confirm .train-dialog {
    margin: 0.28rem 1.96rem;
  }
}
.train-confirm .train-dialog .train-dialog__title {
  color: #ff6600;
  font-size: 14.5px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__title {
  font-size: 29px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__title {
  font-size: 43.5px !important;
}
.train-confirm .train-dialog .train-dialog__content {
  margin-top: 0.84rem;
  font-size: 15px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__content {
  font-size: 30px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__content {
  font-size: 45px !important;
}
.train-confirm .train-dialog .train-dialog__control {
  margin-top: 0.84rem;
}
.train-confirm .train-dialog .train-dialog__control .train-dialog__cancel {
  border-color: #ff6600;
  float: right;
  font-size: 13px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__control .train-dialog__cancel {
  font-size: 26px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__control .train-dialog__cancel {
  font-size: 39px !important;
}
.train-confirm .train-dialog .train-dialog__control .train-dialog__ok {
  margin-left: 0.25333333rem;
  background: #ff6600;
  border-color: #ff6600;
  color: white;
  font-size: 13px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__control .train-dialog__ok {
  font-size: 26px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__control .train-dialog__ok {
  font-size: 39px !important;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}
body {
  background-color: #e9eef3;
  margin: 0;
  color: #555555;
  -webkit-overflow-scrolling: touch;
}
.txt_center {
  text-align: center;
}
.ft_left {
  float: left;
}
.ft_right {
  float: right;
}
@media (orientation: portrait) {
  .btn_cover {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.dropload-up,
.dropload-down {
  position: relative;
  height: 0;
  overflow: hidden;
  font-size: 12px !important;
  /* 开启硬件加速 */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
[data-dpr="2"] .dropload-up,
[data-dpr="2"] .dropload-down {
  font-size: 24px !important;
}
[data-dpr="3"] .dropload-up,
[data-dpr="3"] .dropload-down {
  font-size: 36px !important;
}
.dropload-down {
  height: 50px;
}
.dropload-refresh,
.dropload-update,
.dropload-load,
.dropload-noData {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.dropload-load .loading {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 6px;
  border: 2px solid #666;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.trainLogin {
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  height: 93%;
  -webkit-overflow-scrolling: touch;
}
.trainLogin::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.trainLogin .trainNum_state {
  line-height: 0.64rem;
  width: 100%;
  height: 1.06666667rem;
  font-size: 12px !important;
  color: #555555;
  background-color: #fff7dc;
  padding: 0.213333333rem 4%;
  overflow: hidden;
}
[data-dpr="2"] .trainLogin .trainNum_state {
  font-size: 24px !important;
}
[data-dpr="3"] .trainLogin .trainNum_state {
  font-size: 36px !important;
}
.trainLogin .trainNum_state #loadingToast {
  position: relative;
  width: 0.773333333rem;
  float: left;
}
.trainLogin .trainNum_state #loadingToast .weui-loading {
  width: 0.5rem;
  height: 0.5rem;
  margin-top: 0.05rem;
  background: transparent url(../../images/trainTickets/loading.png) no-repeat;
  background-size: 100% 100%;
}
.trainLogin .trainNum_state #loadingToast .custom-txt {
  position: absolute;
  left: 0.1466666667rem;
  top: -0.02666667rem;
  color: #ff8b00;
}
.trainLogin .trainNum_state .ft_left span {
  color: #ff8b00;
}
.trainLogin .contain {
  padding: 0.4rem;
}
.trainLogin .contain .trainInfo {
  border-bottom: 1px dashed white;
  height: 3.18666667rem;
  padding-top: 0.4rem;
  background: transparent url(../../images/trainTickets/bookSuccess.png) no-repeat;
  background-size: 100% 100%;
}
.trainLogin .contain .trainInfo .train {
  font-size: 12px !important;
  color: #fff;
}
[data-dpr="2"] .trainLogin .contain .trainInfo .train {
  font-size: 24px !important;
}
[data-dpr="3"] .trainLogin .contain .trainInfo .train {
  font-size: 36px !important;
}
.trainLogin .contain .trainInfo .train .trainNo {
  padding-top: 0.8rem;
}
.trainLogin .contain .trainInfo .train .trainNo p {
  line-height: 1;
}
.trainLogin .contain .trainInfo .train .trainNo p:not(:last-child) {
  font-size: 18px !important;
}
[data-dpr="2"] .trainLogin .contain .trainInfo .train .trainNo p:not(:last-child) {
  font-size: 36px !important;
}
[data-dpr="3"] .trainLogin .contain .trainInfo .train .trainNo p:not(:last-child) {
  font-size: 54px !important;
}
.trainLogin .contain .trainInfo .train .trainNo p:last-child {
  transform: scaleX(0.7);
}
.trainLogin .contain .trainInfo .train .trainNo p:last-child .icon-straight {
  font-size: 12px !important;
}
[data-dpr="2"] .trainLogin .contain .trainInfo .train .trainNo p:last-child .icon-straight {
  font-size: 24px !important;
}
[data-dpr="3"] .trainLogin .contain .trainInfo .train .trainNo p:last-child .icon-straight {
  font-size: 36px !important;
}
.trainLogin .contain .trainInfo .train .departureDate {
  margin-bottom: 0.2rem;
}
.trainLogin .contain .trainInfo .train .station {
  font-size: 16px !important;
}
[data-dpr="2"] .trainLogin .contain .trainInfo .train .station {
  font-size: 32px !important;
}
[data-dpr="3"] .trainLogin .contain .trainInfo .train .station {
  font-size: 48px !important;
}
.trainLogin .ticket_bottom {
  background-color: #fff;
}
.trainLogin .ticket_bottom .trainBox {
  padding: 0.32rem 0;
  position: relative;
}
.trainLogin .ticket_bottom .trainBox:not(:last-child) {
  border-bottom: 1px dashed #cfcfcf;
}
.trainLogin .ticket_bottom .trainBox .weui-cell {
  padding: 0 0.3333333rem;
  font-size: 12px !important;
}
[data-dpr="2"] .trainLogin .ticket_bottom .trainBox .weui-cell {
  font-size: 24px !important;
}
[data-dpr="3"] .trainLogin .ticket_bottom .trainBox .weui-cell {
  font-size: 36px !important;
}
.trainLogin .ticket_bottom .trainBox .weui-cell:before {
  position: static;
  height: 0;
  border: none;
}
.trainLogin .ticket_bottom .trainNoInfo .weui-cell,
.trainLogin .ticket_bottom .other .weui-cell {
  line-height: 0.9066666667rem;
}
.trainLogin .ticket_bottom .trainNoInfo:before {
  content: ' ';
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  left: -0.2rem;
  bottom: -0.2rem;
  background: #e9eef3;
  border-radius: 50%;
}
.trainLogin .ticket_bottom .trainNoInfo:after {
  content: ' ';
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  right: -0.2rem;
  bottom: -0.2rem;
  background: #e9eef3;
  border-radius: 50%;
}
.trainLogin .ticket_bottom .other:before {
  content: ' ';
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  left: -0.2rem;
  top: -0.2rem;
  background: #e9eef3;
  border-radius: 50%;
}
.trainLogin .ticket_bottom .other:after {
  content: ' ';
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  right: -0.2rem;
  top: -0.2rem;
  background: #e9eef3;
  border-radius: 50%;
}
.btn_cover {
  height: 1.3rem;
  width: 100%;
  background-color: #ff8b00;
  color: #fff;
}
.btn_cover a {
  line-height: 1.3rem;
  font-size: 18px !important;
}
[data-dpr="2"] .btn_cover a {
  font-size: 36px !important;
}
[data-dpr="3"] .btn_cover a {
  font-size: 54px !important;
}
