:root {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
:root a {
  text-decoration: none;
}
:root a:visited {
  text-decoration: none;
}
:root a:hover {
  text-decoration: none;
}
[data-dpr="2"] .weui-dialog {
  max-width: none;
  border-radius: 6px;
}
[data-dpr="2"] .weui-dialog .weui-dialog__title {
  font-size: 36px;
}
[data-dpr="2"] .weui-dialog .weui-dialog__bd {
  font-size: 30px;
  min-height: 80px;
}
[data-dpr="2"] .weui-dialog .weui-dialog__ft {
  font-size: 36px;
  line-height: 96px;
}
[data-dpr="3"] .weui-dialog {
  max-width: none;
  border-radius: 9px;
}
[data-dpr="3"] .weui-dialog .weui-dialog__title {
  font-size: 54px;
}
[data-dpr="3"] .weui-dialog .weui-dialog__bd {
  font-size: 45px;
  min-height: 120px;
}
[data-dpr="3"] .weui-dialog .weui-dialog__ft {
  font-size: 54px;
  line-height: 144px;
}
[data-dpr="2"] .weui-icon_toast.weui-loading {
  margin: 60px 0 0;
  width: 76px;
  height: 76px;
}
[data-dpr="3"] .weui-icon_toast.weui-loading {
  margin: 90px 0 0;
  width: 114px;
  height: 114px;
}
.color-orange {
  color: #ff6600;
}
.color-green {
  color: #09bb07;
}
.color-btn-jianshao {
  color: #ff5b45;
}
.hide {
  display: none;
}
.train-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.train-confirm .train-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: white;
  margin: 1.98666667rem 1.96rem;
  padding: 0.42666667rem 0.21333333rem 0.42666667rem 0.49333333rem;
  border-radius: 0.2rem;
}
@media all and (orientation: landscape) {
  .train-confirm .train-dialog {
    margin: 0.28rem 1.96rem;
  }
}
.train-confirm .train-dialog .train-dialog__title {
  color: #ff6600;
  font-size: 14.5px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__title {
  font-size: 29px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__title {
  font-size: 43.5px !important;
}
.train-confirm .train-dialog .train-dialog__content {
  margin-top: 0.84rem;
  font-size: 15px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__content {
  font-size: 30px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__content {
  font-size: 45px !important;
}
.train-confirm .train-dialog .train-dialog__control {
  margin-top: 0.84rem;
}
.train-confirm .train-dialog .train-dialog__control .train-dialog__cancel {
  border-color: #ff6600;
  float: right;
  font-size: 13px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__control .train-dialog__cancel {
  font-size: 26px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__control .train-dialog__cancel {
  font-size: 39px !important;
}
.train-confirm .train-dialog .train-dialog__control .train-dialog__ok {
  margin-left: 0.25333333rem;
  background: #ff6600;
  border-color: #ff6600;
  color: white;
  font-size: 13px !important;
}
[data-dpr="2"] .train-confirm .train-dialog .train-dialog__control .train-dialog__ok {
  font-size: 26px !important;
}
[data-dpr="3"] .train-confirm .train-dialog .train-dialog__control .train-dialog__ok {
  font-size: 39px !important;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}
body {
  background-color: #f0f0f0;
  margin: 0;
  color: #555555;
  -webkit-overflow-scrolling: touch;
}
header {
  width: 100%;
  height: 1.16rem;
  line-height: 1.16rem;
  text-align: center;
  background-color: #ff6600;
  padding: 0 4%;
  position: absolute;
}
header .arrow {
  width: 15%;
  color: #fff;
}
header .arrow i {
  font-size: 12px !important;
}
[data-dpr="2"] header .arrow i {
  font-size: 24px !important;
}
[data-dpr="3"] header .arrow i {
  font-size: 36px !important;
}
header .iconLeft {
  text-align: left;
}
header .iconRight {
  text-align: right;
}
header .weui-flex__item {
  color: #fff;
}
header .weui-flex__item .icon-rili {
  font-size: 16px !important;
}
[data-dpr="2"] header .weui-flex__item .icon-rili {
  font-size: 32px !important;
}
[data-dpr="3"] header .weui-flex__item .icon-rili {
  font-size: 48px !important;
}
header .weui-flex__item .today {
  padding-left: 0.1866666667rem;
  font-size: 12px !important;
}
[data-dpr="2"] header .weui-flex__item .today {
  font-size: 24px !important;
}
[data-dpr="3"] header .weui-flex__item .today {
  font-size: 36px !important;
}
.container {
  height: 93.48%;
  width: 100%;
  position: absolute;
  top: 1.16rem;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.container .trainList li {
  margin: 0.21333333rem;
  padding: 0.2rem 0.1866666667rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: white;
}
.container .trainInfo {
  overflow: hidden;
}
.container .left {
  float: left;
  width: 33.31%;
}
.stationLogo {
  display: inline-block;
  width: 0.42666667rem;
  height: 0.42666667rem;
  border: 1px solid #e96419;
  border-radius: 6px;
  color: #e96419;
  font-size: 10px !important;
  line-height: 0.42666667rem;
  text-align: center;
}
[data-dpr="2"] .stationLogo {
  font-size: 20px !important;
}
[data-dpr="3"] .stationLogo {
  font-size: 30px !important;
}
.station {
  font-size: 16px !important;
  color: #555;
  line-height: 1;
  text-align: center;
}
[data-dpr="2"] .station {
  font-size: 32px !important;
}
[data-dpr="3"] .station {
  font-size: 48px !important;
}
.timeCss {
  font-size: 10px !important;
  color: #a0a0a0;
  line-height: 0.50666667rem;
}
[data-dpr="2"] .timeCss {
  font-size: 20px !important;
}
[data-dpr="3"] .timeCss {
  font-size: 30px !important;
}
.container .left .startName {
  height: 0.6133333rem;
  padding-right: 0.24rem;
}
.container .left .startName .startLogo {
  display: inline-block;
  width: 0.42666667rem;
  height: 0.42666667rem;
  border: 1px solid #e96419;
  border-radius: 6px;
  color: #e96419;
  font-size: 10px !important;
  line-height: 0.42666667rem;
  text-align: center;
}
[data-dpr="2"] .container .left .startName .startLogo {
  font-size: 20px !important;
}
[data-dpr="3"] .container .left .startName .startLogo {
  font-size: 30px !important;
}
.container .left .startName .startStation {
  float: right;
  width: 78%;
  font-size: 16px !important;
  color: #555;
  line-height: 1;
  text-align: center;
}
[data-dpr="2"] .container .left .startName .startStation {
  font-size: 32px !important;
}
[data-dpr="3"] .container .left .startName .startStation {
  font-size: 48px !important;
}
.container .left .startName .startStation .startTime {
  font-size: 10px !important;
  color: #a0a0a0;
  line-height: 0.50666667rem;
}
[data-dpr="2"] .container .left .startName .startStation .startTime {
  font-size: 20px !important;
}
[data-dpr="3"] .container .left .startName .startStation .startTime {
  font-size: 30px !important;
}
.container .center {
  float: left;
  width: 32.94%;
  position: relative;
}
.container .center img {
  width: 100%;
}
.container .center .trainNum {
  text-align: center;
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
  font-size: 10px !important;
}
[data-dpr="2"] .container .center .trainNum {
  font-size: 20px !important;
}
[data-dpr="3"] .container .center .trainNum {
  font-size: 30px !important;
}
.container .center .time {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 0.35rem;
  transform: translateX(-50%);
  font-size: 10px !important;
}
[data-dpr="2"] .container .center .time {
  font-size: 20px !important;
}
[data-dpr="3"] .container .center .time {
  font-size: 30px !important;
}
.container .right {
  float: right;
  width: 33.31%;
}
.container .right .endName {
  height: 0.6133333rem;
  padding-left: 0.24rem;
}
.container .right .endName .endLogo {
  display: inline-block;
  width: 0.42666667rem;
  height: 0.42666667rem;
  border: 1px solid #e96419;
  border-radius: 6px;
  color: #e96419;
  font-size: 10px !important;
  line-height: 0.42666667rem;
  text-align: center;
  float: right;
}
[data-dpr="2"] .container .right .endName .endLogo {
  font-size: 20px !important;
}
[data-dpr="3"] .container .right .endName .endLogo {
  font-size: 30px !important;
}
.container .right .endName .endStation {
  display: inline-block;
  width: 78%;
  font-size: 16px !important;
  color: #555;
  line-height: 1;
  text-align: center;
}
[data-dpr="2"] .container .right .endName .endStation {
  font-size: 32px !important;
}
[data-dpr="3"] .container .right .endName .endStation {
  font-size: 48px !important;
}
.container .right .endName .endStation .endTime {
  font-size: 10px !important;
  color: #a0a0a0;
  line-height: 0.50666667rem;
}
[data-dpr="2"] .container .right .endName .endStation .endTime {
  font-size: 20px !important;
}
[data-dpr="3"] .container .right .endName .endStation .endTime {
  font-size: 30px !important;
}
.seatInfo {
  padding-top: 0.24rem;
  overflow: hidden;
}
.seatInfo .seatNum {
  float: left;
  color: #a0a0a0;
  width: 100%;
  font-size: 10px !important;
  line-height: 0.37333333rem;
}
[data-dpr="2"] .seatInfo .seatNum {
  font-size: 20px !important;
}
[data-dpr="3"] .seatInfo .seatNum {
  font-size: 30px !important;
}
.seatInfo .price {
  float: right;
  color: #ea661b;
  font-size: 14px !important;
  line-height: 1;
}
[data-dpr="2"] .seatInfo .price {
  font-size: 28px !important;
}
[data-dpr="3"] .seatInfo .price {
  font-size: 42px !important;
}
.weui-toast {
  width: 3rem;
  min-height: 3rem;
}
.weui-toast .weui-toast_content {
  font-size: 16px !important;
}
[data-dpr="2"] .weui-toast .weui-toast_content {
  font-size: 32px !important;
}
[data-dpr="3"] .weui-toast .weui-toast_content {
  font-size: 48px !important;
}
